PORT=4000
MONGO_URI=mongodb://localhost:27017/woovi-bank?replicaSet=rs0
SESSION_SECRET=change-me
SESSION_COOKIE_NAME=woovi_session
CORS_ORIGIN=http://localhost:5173
WOOVI_APP_ID=your-woovi-app-id
WOOVI_BASE_URL=https://api.woovi-sandbox.com
# ADM_EMAIL=admin@woovi.com
# ADM_PASSWORD=change-me-admin-password
# NODE_ENV=development
# INTROSPECTION=true
# DEBUG=false
# LOG_LEVEL=info
